In [24]:
import pandas as pd
import re 
import string
from sklearn.pipeline import Pipeline
import numpy as np

In [25]:
analyst=pd.read_csv("C:\\Users\\win10\\Downloads\\DA\\data_analyst.csv")
engineer=pd.read_csv("C:\\Users\\win10\\Downloads\\DA\\data_engineer.csv")
scientist=pd.read_csv("C:\\Users\\win10\\Downloads\\DA\\data_scientist.csv")

In [26]:
analyst['topic']='Data Analyst'
engineer['topic']='Data Engineer'
scientist['topic']='Data Scientist'

In [27]:
engineer.columns

Index(['Unnamed: 0', 'waktu', 'id', 'username', 'teks', 'topic'], dtype='object')

In [28]:
scientist.columns

Index(['waktu', 'id', 'username', 'teks', 'topic'], dtype='object')

In [29]:
analyst.columns

Index(['Unnamed: 0', 'waktu', 'id', 'username', 'teks', 'topic'], dtype='object')

In [30]:
engineer.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
analyst.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [31]:
df=pd.concat([analyst,engineer,scientist])

In [32]:
len(df)

1610

In [17]:
df.to_csv("C:\\Users\\win10\\Downloads\\DA\\data_gabungan_twitter.csv")

In [33]:
df=pd.read_csv("C:\\Users\\win10\\Downloads\\DA\\data_gabungan_twitter.csv")

In [34]:
var=df['teks'].str.split("'",n=1,expand=True)

In [35]:
df['new_teks']=var[1]

In [36]:
def remove_pattern(tweet,pattern):
    r = re.findall(pattern,tweet)
    for i in r:
        tweet = re.sub(i,'',tweet)
    return tweet
df['remove_user']=np.vectorize(remove_pattern)(df['new_teks'],"@[\w]*")

In [37]:
def remove(tweet):
    tweet = re.sub('[0-9]+','',tweet)
    tweet = re.sub(r'\$\w*','',tweet)
    tweet = re.sub(r'^RT[\s]+','',tweet)
    tweet = re.sub('#','',tweet)
    tweet = re.sub(':','',tweet)
    return tweet
df['clean_text']=df['remove_user'].apply(lambda x: remove(x))

In [38]:
df.drop_duplicates(subset='clean_text', keep='first', inplace =True)

In [39]:
df.head()

,Unnamed: 0,waktu,id,username,teks,topic,new_teks,remove_user,clean_text
0,0,2022-07-16 08:41:53,1.548226e+18,cha,"b'Hmmmmmm, x suka coding tp kenapala syelalu e...",Data Analyst,"Hmmmmmm, x suka coding tp kenapala syelalu end...","Hmmmmmm, x suka coding tp kenapala syelalu end...","Hmmmmmm, x suka coding tp kenapala syelalu end..."
1,1,2022-07-16 07:45:35,1.548212e+18,radityari,b'@txtfrombrand Di tangan fakhira mah sudah te...,Data Analyst,@txtfrombrand Di tangan fakhira mah sudah terb...,Di tangan fakhira mah sudah terblokir lapakny...,Di tangan fakhira mah sudah terblokir lapakny...
2,2,2022-07-16 07:42:39,1.548211e+18,nattokki,b'@nonntft @collegemenfess Ga sekedar perkenal...,Data Analyst,@nonntft @collegemenfess Ga sekedar perkenalan...,Ga sekedar perkenalan aja kok. Di jelasin ga...,Ga sekedar perkenalan aja kok. Di jelasin ga...
3,3,2022-07-16 06:23:19,1.548192e+18,Henry S üêù,b'@Darrod_ @legolard Ada 1 jurnalis Tifo udah ...,Data Analyst,@Darrod_ @legolard Ada 1 jurnalis Tifo udah ja...,Ada 1 jurnalis Tifo udah jadi data analyst d...,Ada jurnalis Tifo udah jadi data analyst di...
4,4,2022-07-16 04:49:40,1.548168e+18,COLLE,b'[cm] kalian yg sekarang menekuni data analys...,Data Analyst,[cm] kalian yg sekarang menekuni data analyst ...,[cm] kalian yg sekarang menekuni data analyst ...,[cm] kalian yg sekarang menekuni data analyst ...

In [40]:
len(df)

552

In [41]:
df.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [42]:
df.head(2)

,waktu,id,username,teks,topic,new_teks,remove_user,clean_text
0,2022-07-16 08:41:53,1.548226e+18,cha,"b'Hmmmmmm, x suka coding tp kenapala syelalu e...",Data Analyst,"Hmmmmmm, x suka coding tp kenapala syelalu end...","Hmmmmmm, x suka coding tp kenapala syelalu end...","Hmmmmmm, x suka coding tp kenapala syelalu end..."
1,2022-07-16 07:45:35,1.548212e+18,radityari,b'@txtfrombrand Di tangan fakhira mah sudah te...,Data Analyst,@txtfrombrand Di tangan fakhira mah sudah terb...,Di tangan fakhira mah sudah terblokir lapakny...,Di tangan fakhira mah sudah terblokir lapakny...

In [ ]:
df.to_csv("C:\\Users\\win10\\Downloads\\DA\\data_clean_twitter.csv")